<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>method</key>
        <!--<string>app-store</string>-->
        <string>development</string>
        <key>provisioningProfiles</key>
        <dict>
            <key>com.yourcompany.flavors</key>
            <string>match Development com.yourcompany.flavors</string>
            <!--<string>match AppStore com.mycompany.myapp</string>-->
        </dict>
        <key>signingCertificate</key>
        <!--<string>iPhone Distribution</string>-->
        <string>iPhone Developer</string>
        <!--<key>signingStyle</key>-->
        <!--<string>manual</string>-->
        <key>stripSwiftSymbols</key>
        <true/>
        <key>teamID</key>
        <string>ET2VMHJPVM</string>
        <key>uploadSymbols</key>
        <false/>
    </dict>
</plist>